body {
    padding-top: 130px;
}
.banner {
    max-height: 70px;
}
.recuadro-gris{
    background-color: #f5f5f5;
    border-color: #ddd;
    border-radius: 4px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
#mapaBusquedas{
    height: 300px;
}