/* Hoja de estilos para Giftfinder*/

body {
    padding-top: 130px; /* Necesario para que el fixed-menu  de la cabecera no tape el contenido,*/
    padding-bottom: 40px; /* Necesario para que el fixed-menu del pie no tape el contenido,*/
}

.banner {
    max-height: 70px; /* Definir una altura mínima para el banner publicitario.*/
}

/* Recuadro gris para destacar la geolocalización.*/
.recuadro-gris{
    background-color: #f5f5f5;
    border-color: #ddd;
    border-radius: 4px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
/* Si no definimos una altura para el mapa, no se cargará.*/
#mapaBusquedas{
    height: 300px;
}